{% extends 'base.html' %}


{% block content %}
    <div class="container mx-md">
      <section class="flex items-center justify-center h-screen">

        <table class="table-auto">
          <thead>
            <tr>
              <th>URL</th>
              <th>Online</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <form method="post">{% csrf_token %}
                  <td>{{ form.url }}</td>
                  <td><input type="submit" value="OK"></td>
                </form>
              </tr>
            {% for website in websites %}
              <tr>
                <td>{{website.url}}</td>
                <td>{{website.url.statuses.all}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </section>
    </div>
{% endblock content %}