{% extends 'base.html' %}



{% block content %}
<style>
    .grid {
      width: 100%;
      display: inline-grid;
    }
    .cell {
        margin: 1px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }
    .online {
        background-color: green;
    }
    .offline {
        background-color: red;
    }
</style>
<div class="bg-red-500 w-full ">

  <header>
    <div class="flex justify-between items-center py-4 px-8">
      <div>
        <h1 class="font-bold text-white text-3xl">D<span class="text-blue-400">UP</span></h1>
      </div>
    </div>
  </header>

  <section class="h-full">
    <div class="md:flex p-24">
      <div class="bg-red-500">

          <h1 class="text-7xl sm:text-8xl lg:text-8xl xl:text-9xl text-white font-bold my-8">
            Django,<br>
            is my website
            <span class="text-blue-400">
              UP?
            </span>
          </h1>
          <p class="text-xl text-white font-semibold ">
            Checks your website every hour.<br>
            Notifies you if it is down.
          </p>

      </div>
      <div class="bg-red-500  overflow-y-scroll">
        <table class="text-left">
          <thead class="border-b-2 flex text-white">
            <tr class="flex w-full ">
              <th class="p-4 w-2/3 font-semibold uppercase">URL</th>
              <th class="p-4 w-1/3 font-semibold uppercase">Status</th>
            </tr>
          </thead>
          <!-- Remove the nasty inline CSS fixed height on production and replace it with a CSS class — this is just for demonstration purposes! -->
          <tbody class="flex flex-col overflow-y-scroll w-full text-sm" style="height: 70vh;">
            <tr class="flex w-full">
              <form method="post">{% csrf_token %}
                <td class="px-4 pb-4 pt-4 w-2/3">{{ form.url }}</td>
                <td class="px-4 pb-4 pt-4 w-1/3"><input type="submit" value="OK"></td>
              </form>
            </tr>
            {% for website in websites %}
            <tr class="flex text-white">
              <td class="px-4 pb-4 w-2/3 break-all">{{ website.url }}</td>
              <td class="px-4 pb-4 w-1/3">
                <div class="grid">
                {% for status in website.statuses.all %}
                  {% include "inc-graph.html" %}
                {% endfor %}
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <section class="h-full bg-gray-800">
    <div class="py-6 px-16 flex justify-between text-white">

        <h1 class="font-bold font-bold text-lg">D<span class="text-blue-400">UP</span></h1>

        <div class="flex space-x-10">
          <a href="https://github.com/almazkun/dup" class="font-semibold text-lg hover:text-yellow-400" target="_blank">Source Code</a>
          <a href="https://akun.dev" class="text-white font-semibold text-lg hover:text-yellow-400" target="_blank">About Me</a>
        </div>
    </div>

    <div class="border-t-2 mx-10 border-gray-500"></div>

    <div class="py-4 py-6 px-16 flex justify-between">
        <div>
          <h1 class="font-semibold text-white text-sm">Copyrigth @ <a href="https://akun.dev" target="_blank" class="hover:text-yellow-400">akun.dev</a> {% now "Y" %}</h1>
        </div>

        <div>
            <a href="#" class="flex space-x-2 text-white hover:text-yellow-400">
                <p class="font-semibold  text-sm">GO TOP</p>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6  -mt-1" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M8 7l4-4m0 0l4 4m-4-4v18" />
                </svg>
            </a>
        </div>
    </div>
  </section>
</div>
{% endblock content %}
